@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Work_Sans");

:root {
  --body-text: #eeecec;
  --body-background: linear-gradient(113deg, #984d38 -30.3%, #181e41 58.12%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--body-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "__Work_Sans_78567c" !important;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  border: none !important;
  outline: none !important;
}

input {
  background-color: transparent;
  outline: none;
}
