@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Work_Sans");

:root {
  --body-text: #eeecec;
  --body-background: linear-gradient(113deg, #984d38 -30.3%, #181e41 58.12%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  height: 100vh;
  background: #000000;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  color: var(--body-text);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  border: none !important;
  outline: none !important;
}

input {
  background-color: transparent;
  outline: none;
}

.bg-office-vlte {
  background: url("../../public/sign-man-entering.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh !important;
}

.div-right {
  animation: fadeInRight 2s ease-in-out;
}

.div-left {
  animation: fadeInLeft 2s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-8000px);
  }
  to {
    opacity: 1;
    transform: translateX(450px);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(450px);
  }
  to {
    opacity: 1;
  }
}
